body,html {
    margin: 0;
    padding: 0;
}

.main-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.gallery-img {
    margin-top: 100px;
}
.gallery-img figure img {
    height: 210px;
    width: 350px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallery-img figure:hover img {
    opacity: .5;
    cursor: pointer;
}

.for-more {
    color: royalblue;
    margin-bottom: 100px;
}
.contact-block {
    margin-bottom: 150px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 25px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}
.modal-content {
    margin: 100px auto;
    height: 70%;
    width: 100%;
    max-width: 900px;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.contact-img {
    height: 220px;
    max-width: 350px;
    width: auto;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


::-webkit-scrollbar {
    width: 15px;
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(63, 63, 68, 1);
    border-radius: 5px;
    opacity: 0.1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(63, 63, 68, .80);
}